/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  html {
    font-size: 55%;
  }

  .nav .link {
    margin: 2.8rem 0 !important;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  html {
    font-size: 80%;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
/* Large devices (laptops/desktops, 992px and up) */
/* Extra large devices (large laptops and desktops, 1200px and up) */
html {
  font-family: "Montserrat", sans-serif;
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */
}
html * {
  scrollbar-color: black rgba(0, 0, 0, 0.2);
  scrollbar-width: thin;
  font-family: "Montserrat", sans-serif;
}
html ::-webkit-scrollbar {
  width: 5px;
}
html ::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.2);
}
html ::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.7);
}
html ::-webkit-scrollbar-thumb:hover {
  background: #000;
}

body {
  margin: 0;
  padding: 0;
  background: white;
  color: black;
  overflow: hidden;
}
body a {
  color: black;
}

#langSwitch {
  position: absolute;
  cursor: pointer;
  font-size: 200%;
  right: 0;
  top: 0;
  margin: 0 10px;
}

#welcomeAnimation {
  max-width: calc(100% - 5rem - 20px);
}
#welcomeAnimation h1 {
  margin: 1rem 0;
  font-size: 6rem;
}

#underline {
  left: 0;
  position: absolute;
  height: 2rem;
  width: 0%;
  background: black;
  transition: width 1000ms ease-in, height 1000ms ease-in-out;
}

#menu {
  overflow: hidden;
  position: absolute;
  z-index: 99;
  width: 100vw;
  height: calc(100% - 8.5rem);
  color: white;
  opacity: 0;
  transition: opacity 1500ms ease-in-out;
}
#menu .nav {
  display: inline-block;
  position: relative;
  left: 5px;
  transition: all 1000ms ease-in;
}
#menu .nav > h1,
#menu #back {
  transition: opacity 1000ms ease-in-out;
  font-size: 3rem;
  margin: 2rem 0;
  z-index: 950;
}
#menu .nav > h1:hover,
#menu #back:hover {
  cursor: pointer;
}
#menu .nav > h1 > a,
#menu #back > a {
  position: relative;
  text-decoration: none;
  color: white;
}
#menu .nav > h1 > a:hover,
#menu #back > a:hover {
  color: white;
}
#menu .nav > h1 > a::before,
#menu #back > a::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #fff;
  visibility: hidden;
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
#menu .nav > h1 > a:hover::before,
#menu #back > a:hover::before {
  visibility: visible;
  width: 100%;
}
#menu #back {
  position: absolute;
  font-size: 2rem;
  top: 0;
  margin-top: 0.9rem;
  left: 1rem;
  opacity: 0;
}

#navContainer {
  transition: all 1000ms ease-in-out;
}

.content {
  background: white;
  display: none;
  color: black;
  height: 0;
  width: 100%;
  transition: height 1000ms ease-in-out;
  position: relative;
  margin-top: 0;
  overflow-y: scroll;
}

#about_content .avatar {
  border: 2px solid black;
  border-radius: 50%;
  margin: 1rem auto;
  position: relative;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  max-width: 50vw;
  max-height: 50vw;
}
#about_content .description {
  min-width: 300px;
  width: 50%;
  max-width: 90%;
  margin: 1rem auto;
  text-align: justify;
}
#about_content .description p {
  margin: 0;
  font-size: 1.4rem;
  line-height: 150%;
}
#about_content .description p:first-child {
  text-indent: 2rem;
}
#about_content .description p:last-child {
  font-weight: bold;
}

.content .container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  -ms-justify-content: space-around;
  justify-content: space-around;
  -ms-flex-pack: space-around;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  padding: 2rem;
}
.content .container:last-child {
  margin-bottom: 5rem;
}
.content .container .subtitle {
  font-size: 3rem;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid black;
  padding-bottom: 1rem;
}
.content .container .subtitle br {
  display: block;
  content: "";
  margin-top: -1.5rem;
}
.content .container .subtitle em {
  font-size: 1.5rem;
  color: #373737;
}
.content .container .skill {
  display: inline -webkit-box;
  display: inline -moz-box;
  display: inline -ms-flexbox;
  display: inline -webkit-flex;
  display: inline-flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  min-width: 20rem;
  width: 30rem;
  max-width: 24%;
  margin: 2rem 4rem;
  text-align: center;
}
.content .container .skill i {
  font-size: 8rem !important;
}
.content .container .skill img {
  height: 8rem;
}
.content .container .skill h5 {
  font-size: 3rem;
  margin: 0;
}
.content .container .skill h6 {
  font-size: 1.5rem;
  margin: 0.2rem;
}
.content .container .skill .desc p {
  text-align: justify;
}
.content .container .skill .desc a {
  color: black;
}
.content .container .skill .skillbar {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between;
}
.content .container .skill .skillbar span {
  display: inline-block;
  width: 4rem !important;
  height: 4rem !important;
  background: black;
  border: 1px solid black;
  border-radius: 50%;
  margin: 0.5rem;
}
.content .container .skill .skillbar span.empty {
  background: none;
}
.content .container .section {
  display: inline -webkit-box;
  display: inline -moz-box;
  display: inline -ms-flexbox;
  display: inline -webkit-flex;
  display: inline-flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  width: 100%;
}
.content .container .section .subtitle {
  font-size: 2rem;
  border-bottom: none;
  padding-top: 1rem;
  padding-bottom: 0 !important;
  border-top: 1px dashed black;
}
.content .container .section:first-of-type .subtitle {
  border-top: none;
}
.content .container .section .desc {
  width: 60%;
  min-width: 300px;
}
.content .container .section .links {
  font-size: 8rem;
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-evenly;
  -moz-justify-content: space-evenly;
  -ms-justify-content: space-evenly;
  justify-content: space-evenly;
  -ms-flex-pack: space-evenly;
}
.content .container .section .links a {
  display: block;
  color: black;
  text-decoration: none;
}
.content .container .section .links a:hover {
  text-decoration: none;
}
.content .container .section .links label {
  display: block;
  font-size: 2rem;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.content .container .section .links img,
.content .container .section .links i {
  height: 8rem;
  width: 8rem;
  display: block;
  position: relative;
  left: 0;
  right: 0;
  margin: 1rem auto;
}
.content .container form {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-evenly;
  -moz-justify-content: space-evenly;
  -ms-justify-content: space-evenly;
  justify-content: space-evenly;
  -ms-flex-pack: space-evenly;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  height: 50vh;
  width: 80%;
}
.content .container form input, .content .container form textarea {
  width: 100%;
}
.content .container form textarea {
  height: 70%;
  resize: none;
}
.content .container form button {
  padding: 1rem;
  background: #000;
  color: white;
  border: none;
}
.content .container #contact_me {
  width: 100%;
  text-align: center;
}
.content .container #contact_me a {
  font-size: 1.2rem;
}

.toggleModal:hover {
  cursor: pointer;
}

.modal {
  display: none;
}
.modal .modal-content {
  position: fixed;
  transition: top 800ms ease-in;
  top: -200vh;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1050;
  background: white;
  border: 1px solid black;
  height: 80vh;
  width: 90vw;
  margin: auto;
}
.modal .modal-content header {
  padding: 5rem 0 0 0;
  text-align: center;
  font-size: 10rem;
}
.modal .modal-content header .toggleModal {
  position: absolute;
  top: 1rem;
  right: 1rem;
  height: 20px;
  width: 20px;
  border: none;
  background: url("./data/assets/x.svg");
  background-size: 20px 20px;
}
.modal .modal-content .body {
  padding: 1rem;
  height: calc(100% - 20rem);
  overflow-y: auto;
}
.modal .modal-content .body h1 {
  margin-top: 0;
  font-size: 3rem !important;
  text-align: center;
}
.modal .modal-content .body p {
  text-align: justify;
}
.modal .backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background: black;
  height: 100vh;
  width: 100vw;
  opacity: 0;
  transition: opacity 500ms ease-in;
}

#js ul,
#node ul,
#react ul,
#html ul,
#sass ul {
  font-size: 1.3rem;
  padding-left: 2rem;
  line-height: 1.8rem;
}
#js ul li,
#node ul li,
#react ul li,
#html ul li,
#sass ul li {
  margin-bottom: 2rem;
}

/*# sourceMappingURL=style.css.map */
